<nav class="animated delay-1 fadeInUp">
    <div class="page-navigation">
        <ul>
            {% for item in site.data.navigation %}
                <li>
                    {% if item.type == "link"%}
                        <a href="{{ item.link }}">{{ item.name }}</a>
                    {% endif %}

                    {% if item.type == "seperator"%}
                        |
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
