<nav class="animated delay-1 fadeInUp">
    <div class="page-navigation">
        <ul>
            {% for item in site.data.navigation %}
                <li {% if item.type == "seperator"%}class="hide-tiny-mobile"{% endif %}>
                    {% if item.type == "link"%}
                        <a href="{{ item.link }} " {% if page.url == item.link %}class="current-page"{% endif %}>{{ item.data }}</a>
                    {% endif %}

                    {% if item.type == "seperator"%}
                        &#65372;
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
