//
// VARIABLES
//

// Colours
:root {
    --bg-colour: var(--silver-100);
    --fg-colour: var(--black-700);

    --link-colour: var(--grape-900);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-colour: var(--silver-100);;
        --fg-colour: var(--black-700);

        --link-colour: var(--grape-900);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-colour: var(--black-900);
        --fg-colour: var(--silver-100);

        --link-colour: var(--grape-500);
    }
}

// Fonts
:root {
    --default-font: Open Sans, sans-serif;
    --mono-font: Roboto Mono, sans-serif;
    --title-font: Raleway, sans-serif;
}

// Breakpoints
@mixin for-tiny-phone-only {
    @media (max-width: 359px) { @content; }
}

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}

// Elementary OS Colours
// Colours from https://elementary.io/brand

:root {
    --strawberry: #ff8c82;
    --strawberry-100: #ff8c82;
    --strawberry-300: #ed5353;
    --strawberry-500: #c6262e;
    --strawberry-700: #a10705;
    --strawberry-900: #7a0000;

    --orange: #f37329;
    --orange-100: #ffc27d;
    --orange-300: #ffa154;
    --orange-500: #f37329;
    --orange-700: #cc3b02;
    --orange-900: #a62100;

    --banana: #f9c440;
    --banana-100: #fff394;
    --banana-300: #ffe16b;
    --banana-500: #f9c440;
    --banana-700: #d48e15;
    --banana-900: #ad5f00;

    --lime: #68b723;
    --lime-100: #d1ff82;
    --lime-300: #9bdb4d;
    --lime-500: #68b723;
    --lime-700: #3a9104;
    --lime-900: #206b00;

    --mint: #28bca3;
    --mint-100: #89ffdd;
    --mint-300: #43d6b5;
    --mint-500: #28bca3;
    --mint-700: #0e9a83;
    --mint-900: #007367;

    --blueberry: #3689e6;
    --blueberry-100: #8cd5ff;
    --blueberry-300: #8cd5ff;
    --blueberry-500: #3689e6;
    --blueberry-700: #0d52bf;
    --blueberry-900: #002e99;

    --grape: #a56de2;
    --grape-100: #e4c6fa;
    --grape-300: #cd9ef7;
    --grape-500: #a56de2;
    --grape-700: #7239b3;
    --grape-900: #452981;

    --bubblegum: #de3e80;
    --bubblegum-100: #fe9ab8;
    --bubblegum-300: #f4679d;
    --bubblegum-500: #de3e80;
    --bubblegum-700: #bc245d;
    --bubblegum-900: #910e38;

    --cocoa: #715344;
    --cocoa-100: #a3907c;
    --cocoa-300: #8a715e;
    --cocoa-500: #715344;
    --cocoa-700: #57392d;
    --cocoa-900: #3d211b;

    --silver: #abacae;
    --silver-100: #fafafa;
    --silver-300: #d4d4d4;
    --silver-500: #abacae;
    --silver-700: #7e8087;
    --silver-900: #555761;

    --slate: #485a6c;
    --slate-100: #95a3ab;
    --slate-300: #667885;
    --slate-500: #485a6c;
    --slate-700: #273445;
    --slate-900: #0e141f;

    --black: #333333;
    --black-100: #666666;
    --black-300: #4d4d4d;
    --black-500: #333333;
    --black-700: #1a1a1a;
    --black-900: #000000;
}
