section.home-header {
    min-height: 192px;

    background-color: var(--grape-900);
    color: var(--card-fg-colour);

    line-height: 192px;

    h1 {
        margin: 0px auto;
        color: var(--silver-100);
    }
}
