//
// VARIABLES
//

// Colours
:root {
    --bg-colour: var(--silver-100);
    --fg-colour: var(--black-700);

    --scrollbar-thumb-colour: #CDCDCD;

    --dark-bg-colour: #1c1e26;
    --dark-fg-colour: #dffcfd;
}

@media (prefers-colour-scheme: dark) {
  :root {
    --bg-colour: var(--black-700);
    --fg-colour: var(--silver-100);
  }
}

// Fonts
:root {
  --default-font: Open Sans, sans-serif;
  --mono-font: Roboto Mono, sans-serif;
  --title-font: Raleway, sans-serif;
}

// Breakpoints
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
