---
---

@import "reset";
@import "colours";
@import "variables";

html {
    font-family: var(--default-font);
}

body {
    background-color: var(--bg-colour);
    color: var(--fg-colour);
    min-height: 100%;
    width: 100%;

    h1, h2, h3 {
        font-family: var(--title-font);
        margin: 16px;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1rem;
    }
}

a {
    &:hover {
        text-decoration: underline;
    }
}

.debug {
    background-color: #F00;
}

@import "header";
