<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">

    <script>
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
            var theme = document.querySelector("meta[name=theme-color]");
            if (event.matches) {
                theme.setAttribute("content", "#1A1A1A");
                console.log ("Dark mode!");
            } else {
                theme.setAttribute("content", "#FAFAFA");
                console.log ("Light mode!");
            }
        });
    </script>

    {% include meta.html %}

    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% include header.html %}
    {{ content }}
  </body>
</html>
