<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">

    <!--<script>-->
    <!--    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {-->
    <!--        var theme = document.querySelector("meta[name=theme-color]");-->
    <!--        if (event.matches) {-->
    <!--            theme.setAttribute("content", "#1A1A1A");-->
    <!--        } else {-->
    <!--            theme.setAttribute("content", "#FAFAFA");-->
    <!--        }-->
    <!--    });-->
    <!--</script>-->

    {% include meta.html %}

    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% include header-home.html %}

    <div class="page-content">
    {% include navigation.html %}

        <div class="card-list">
        {{ content }}
        </div>
    </div>
  </body>
</html>
